<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://turnik30.ru" version="1.0.0" viewmodes="maximized">
    <tizen:application id="CBqsXMBTuv.RonRecon" package="CBqsXMBTuv" required_version="2.2"/>
    <author href="http://turnik30.ru" email="turnik30@yandex.ru"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>RonRecon</name>
    <tizen:setting screen-orientation="auto-rotation" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
